<h1>Роль: <%= @role.name %></h1>
<%= button_to 'Изменить', edit_role_path(@role), method: :get, form: { class: 'inline-button' } %>
<%= button_to 'Назад', roles_path, method: :get, form: { class: 'inline-button' } %>
