<h1>Role: <%= @role.name %></h1>
<%= button_to 'Edit', edit_role_path(@role), method: :get, form: { class: 'inline-button' } %>
<%= button_to 'Back', roles_path, method: :get, form: { class: 'inline-button' } %>
