<h1>Страна: <%= @country.name %></h1>
<%= button_to 'Изменить', edit_country_path(@country), method: :get, form: { class: 'inline-button' } %>
<%= button_to 'Назад', countries_path, method: :get, form: { class: 'inline-button' } %>
